@use "../abstracts";

$error-color: #f44336;

%flex-center {
  display: flex;
  align-items: center;
}

.form {
  &:has(:invalid) .form__btn-signup {
    opacity: 0.5;
    pointer-events: none;
  }

  &__group {
    margin-top: 30px;

    @include abstracts.breakpoint(md) {
      margin-top: 20px;
    }
  }

  &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
    .form__row {
      border-color: $error-color;
      background-color: rgba($color: $error-color, $alpha: 0.1);
    }
    .form__message-error,
    .form__input-icon--error {
      display: block;
    }

    .form__input-icon {
      display: none;
    }
  }
  &__row {
    @extend %flex-center;
    height: 50px;
    padding: 0 12px;
    border-radius: 10px;
    border: 1.5px solid #d2d1d6;

    &:focus-within {
      border-color: #77dae6;
    }
  }

  &__input {
    flex: 1;
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.44; /* 144.444% */
    background-color: transparent;

    &::placeholder {
      color: var(--form-placeholder-color);
    }

    @include abstracts.breakpoint(md) {
      font-size: 1.6rem;
    }
  }

  &__input-icon {
    margin-left: 12px;
  }

  &__group--inline {
    @extend %flex-center;
  }

  &__message-error {
    text-align: left;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 10px;
    color: #ed4337;
    display: none;
  }

  &__input-icon--error {
    margin-left: 12px;
    display: none;
    animation: shake 0.8s linear;
  }

  &__checkbox {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      position: absolute;
    }

    &::before {
      width: 19px;
      height: 19px;
      border-radius: 5px;
      border: 1.5px solid #9e9da8;
    }

    &:has(:checked) {
      &::before {
        border-color: #ffb700;
        background-color: #ffb700;
      }

      &::after {
        top: 5px;
        left: 2px;
        width: 15px;
        height: 8px;
        border: 3px solid;
        border-color: transparent transparent #fff #fff;
        rotate: -45deg;
      }
    }

    &-label {
      margin-left: 29px;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.46; /* 146.667% */
      color: #9e9da8;

      @include abstracts.breakpoint(md) {
        font-size: 1.4rem;
      }
    }
  }

  &__btns {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  // filter form
  &__label-title.lv3 {
    display: block;
    font-weight: 500;
  }

  // select
  &__inner {
    margin-top: 20px;
  }

  &__select-wrapper {
    display: flex;
    height: 45px;
    margin-bottom: 20px;

    border-radius: 6px;
    border: 1px solid #d2d1d6;
  }

  &__select {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 14px;
    width: var(--width-select, 108px);

    & + & {
      border-left: 1px solid #d2d1d6;
    }

    @include abstracts.breakpoint(xl) {
      flex: 1;
    }

    @include abstracts.breakpoint(md) {
      font-size: 1.6rem;
    }
  }

  // btns
  &__group-btns {
    display: flex;
    column-gap: 30px;
  }

  &__prop-btns {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;

    @include abstracts.breakpoint(lg) {
      flex-wrap: nowrap;
      column-gap: 9px;
    }
  }

  &__btn {
    height: 32px;
    padding: 0 12px;

    color: #9e9da8;
    border-radius: 6px;
    background-color: var(--form-btn-bg);
    transition: color linear 0.3s;

    &:hover {
      color: var(--text-color);
    }
  }
}
